<form [formGroup]="form" novalidate class="form-horizontal">
  <fieldset>
      <legend>Register a New User</legend>
      <div class="form-group">
        <label for="firstName" class="col-lg-3 control-label">First Name</label>
        <div class="col-lg-7">
          <input class="form-control" type="firstName" name="firstName" value="" formControlName="firstName">
          <div class="error" *ngIf="isErrorVisible('firstName', 'required')">
            Please enter your first name
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="lastName" class="col-lg-3 control-label">Last Name</label>
        <div class="col-lg-7">
          <input class="form-control" type="lastName" name="lastName" value="" formControlName="lastName">
          <div class="error" *ngIf="isErrorVisible('lastName', 'required')">
            Please enter your last name
          </div>
        </div>
      </div>

        <div class="form-group">
          <label for="email" class="col-lg-3 control-label">Email</label>
          <div class="col-lg-7">
            <input class="form-control" type="email" name="email" value="" formControlName="email">
            <div class="error" *ngIf="isErrorVisible('email', 'required')">
              Please enter a valid e-mail
            </div>
          </div>
      </div>
      <div class="form-group">
        <label for="password" class="col-lg-3 control-label">Password</label>
        <div class="col-lg-7">
          <input class="form-control" type="password" name="password" value="" formControlName="password">

            <div class="error" *ngIf="isErrorVisible('password', 'required')">
              Please enter a password
            </div>
        </div>

      </div>
      <!-- <div class="form-group row">
        <label for="branch" class="col-lg-2 control-label">Branch</label>
        <div class="col-lg-8">
          <select class="form-control" type="text" name="branch" value="" formControlName="branch">
            <option selected disabled hidden>Choose here</option>
            <option *ngFor="let branch of branches" value="{{branch.branchId}}" >{{branch.name}}</option>
          </select>

            <div class="error" *ngIf="isErrorVisible('branch', 'required')">
              Please enter the branch name
            </div>
        </div>

      </div> -->
      <!-- <div class="form-group">
        <label for="confirm" class="col-lg-3 control-label">Confirm Password</label>
        <div class="col-lg-7">
          <input class="form-control" type="password" name="confirm" value="" #confirm>

            <div class="error" *ngIf="form.password.value !== confirm.value">
              Please confirm your password
            </div>
        </div>

      </div> -->
      <div class="form-group">
        <div class="col-lg-9 col-lg-offset-3">
          <button type="submit" class="btn btn-primary submit" [disabled]="!form.valid" (click)="onSubmit()">Register</button>
        </div>
      </div>

  </fieldset>

</form>
