<div class="background" [style.display]="errorDisplay"></div>
<div class="modal" tabindex="-1" role="dialog" [style.display]="errorDisplay">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button"class="close" aria-label="Close" (click)="onErrorHandle()"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">{{errorData?.title}}</h4>
        </div>
        <div class="modal-body">
          <!--Accessing the data with a questionmark, which makes  -->
          <p>{{errorData?.message}}</p>
        </div>
        <div class="modal-footer">
          <button type="button"class="btn btn-default" (click)="onErrorHandle()">Close</button>
        </div>
      </div>
    </div>
</div>
